/* GameDetails.css */

.game-details {
    display: flex;
    justify-content: space-between;
    background-color: #222831;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #dddddd;
  }

  .game-column {
    padding-right: 20px;
  }

  .commence-time {
    color: #f05454;
  }

  .market {
    color: #f05454;
  }
  
  .odds-column {
    padding-left: 20px;
    border-left: 1px solid #30475E;
    text-align: end;
  }
  
  .odds-column p {
    margin-bottom: 10px;
  }
  
  .odds-column.blurred {
    filter: blur(5px);
  }
