/* SideNav.css */

.side-nav a {
    text-decoration: none;
    margin-top: 20px;
}

.side-nav-title {
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .side-nav {
        width: 200px;
        left: -200px;
    }
}
