/* App.css */

html,
body,
#react-root {
  height: 100%;
  background-color: #222831;
  color: white;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* Main App Container */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Top Navigation (Nav) */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  height: 60px;
  background-color: #222831; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
}

/* Side Navigation (SideNav) */
.side-nav {
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px; 
  height: calc(100vh - 60px);
  background-color: #222831;
  display: flex;
  flex-direction: column;
  padding: 20px 10px; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); 
  z-index: 900; 
  overflow-y: auto; 
}

.side-nav-title {
  color: #F05454;
  text-decoration: none;
  margin: 15px 0;
  font-size: 1rem;
  cursor: pointer;
}

.side-nav-title:hover {
  color: #F05454; 
}

/* Main Content Area */
.app-body {
  display: flex;
  flex-grow: 1;
  margin-top: 60px; /* Space for the Nav */
  overflow: hidden; /* Prevent overflow in content area */
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.content {
  margin-left: 200px; /* Space for the SideNav */
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scroll */
}
