/* Global Styles */
html,
body,
#react-root {
  height: 100%;
  background-color: #222831;
  color: white;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* Main App Container */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Top Navigation (Nav) */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  height: 60px;
  background-color: #222831; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
}

/* Side Navigation (SideNav) */
.side-nav {
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px; 
  height: calc(100vh - 60px);
  background-color: #222831;
  display: flex;
  flex-direction: column;
  padding: 20px 10px; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); 
  z-index: 900; 
  overflow-y: auto; 
}

.side-nav-title {
  color: #F05454;
  text-decoration: none;
  margin: 15px 0;
  font-size: 1rem;
  cursor: pointer;
}

.side-nav-title:hover {
  color: #F05454; 
}

/* Main Content Area */
.app-body {
  display: flex;
  flex-grow: 1;
  margin-top: 60px; /* Space for the Nav */
  overflow: hidden; /* Prevent overflow in content area */
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.content {
  margin-left: 200px; /* Space for the SideNav */
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scroll */
}

/* Form Styles */
.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #30475E;
  border-radius: 3px;
}

input {
  margin: 5px;
  margin-bottom: 10px;
  width: calc(100% - 10px);
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #F05454;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #222831;
  color: #DDDDDD;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  text-align: center;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #F05454;
  text-decoration: none;
}

.btn_asLink {
  padding: 0;
  border: none;
  border-bottom: 1px solid #444;
  background: none;
  color: #F05454;
  font: inherit;
  cursor: pointer;
}

.btn_asLink:hover {
  border-color: #F05454;
  color: #F05454;
}

/* Alert Styles */
.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}
