.arbitrage-calculator {
    margin-top: 20px;
  }
  
  .arbitrage-calculator .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
    transition: box-shadow 0.3s ease;
  }
  
  .arbitrage-calculator .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .arbitrage-opportunity .card {
    border: 5px solid green;
  }
  
  .no-arbitrage .card {
    border: 2px solid #F05454;
  }
  
  .arbitrage-calculator .card-content {
    display: flex;
    flex-direction: column;
  }
  
  .arbitrage-calculator .card-section {
    margin-bottom: 10px;
  }
  
  .arbitrage-calculator .card-section span {
    display: block;
    margin: 5px 0;
  }
  